@meta @charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

.kakko {
  font-size: 60px;
  margin-left: 50px;
  margin-bottom: 20px;
  padding-top: 50px;
  color: skyblue;
}

.title {
  padding-top: 30px;
  font-size: 80px;
  margin-bottom: 15px;
  font-family: 'Kosugi', sans-serif;
}

.sub-title {
  margin-top: 30px;
  display: inline-block;
  font-size: 45px;
  font-family: 'Kosugi', sans-serif;
}

select {
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  margin-left: 60px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  transition: 0.4s;
  color: skyblue;
}

button {
  height: 40px;
  width: 140px;
  font-size: 15px;
}

li {
  float: left;
  list-style: none
}

.list {
  padding: 20px;
  font-size: 20px;
}
